<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Movela/public/css/root.css">
    <link rel="stylesheet" href="/Movela/public/css/nav.css">
    <link rel="stylesheet" href="/Movela/public/css/moviedetails.css">
    <title id="DOMtitle"></title>
</head>
<body>
    <div id="navbar-container"></div>
    <main class="text-white">
        <section class="w-full flex">
            <figure class="w-1/2 md:w-2/6">
                <!-- inserer ici l'image liée au film de l'api -->
                <img id="contentImg" class="w-full" src="" alt="">
            </figure>
            <article class="w-1/2 md:w-4/6 flex flex-col items-center justify-around">
                <!-- titre dinamique du film -->
                 <div class="flex flex-col items-center gap-1">
                     <h2 id="contentTitle" class="text-xl font-black"></h2>
                     <span id="releaseDate" class="text-xs"></span>
                     <ul id="contentGenresDiv" class="flex flex-wrap justify-center gap-1 text-xs w-8/10">
                        <!-- li genres -->
                     </ul>
                 </div>
                 <div id="contentReview" class="flex flex-col items-center">
                    <ul id="contentReviewList" class="flex">
                        <li class="star-full"></li>
                        <li class="star-full"></li>
                        <li class="star-full"></li>
                        <li class="star-half"></li>
                        <li class="star-empty"></li>
                    </ul>
                 </div>
                 <div class="hidden md:flex md:flex-col">
                    <h3 class="m-2 text-cta-color font-black">Description</h3>
                    <!-- description dynamique du film pour le format bureau-->
                    <p id="contentDescD" class="p-2"></p>
                 </div>
                 <article class="hidden md:block overflow-hidden w-full">
                    <h3 class="m-2 text-cta-color font-black">Acteurs</h3>
                    <!-- liste dynamique d'acteurs -->
                    <ul id="contentActorListD" class="flex overflow-x-auto space-x-4 gap-1 pb-2">
                        <!-- générer les li avec nom des acteurs -->
                    <ul>
                </article>
            </article>
        </section>
        <section>
            <article class="flex flex-col md:hidden">
                <h3 class="m-2 text-cta-color font-black">Description</h3>
                <!-- description dynamique du film -->
                <p id="contentDescM" class="p-2"></p>
            </article>
            <article class="block md:hidden">
                <h3 class="m-2 text-cta-color font-black">Acteurs</h3>
                <!-- liste dynamique d'acteurs -->
                <ul id="contentActorListM" class="flex overflow-x-auto space-x-4 gap-1 pb-2">
                    <!-- générer les li avec nom des acteurs -->
                <ul>
            </article>
        </section>
        <section class="mt-4">
            <div id="recoDiv">
                <ul id="contentRecoList" class="flex overflow-x-auto space-x-4 gap-1 pb-2">
                    <!-- générer les li avec nom des acteurs -->
                <ul>
            </div>
        </section>
        <section class="h-64 mt-2">
            <div id="comListDiv" class="h-auto">
                <ul id="comList">
                    <!-- générer les li par commentaire laissé -->
                </ul>
            </div>
            <div id="divForm" class="h-full flex flex-col justify-center gap-1">
                <h3 class="text-cta-color text-center font-bold">Laissez un avis</h3>
                <form class="flex flex-col items-center justify-center gap-1 h-5/10" method="POST">
                    <div class="flex flex-col">
                        <span>Pseudo</span>
                        <input class="bg-little-btn p-1 rounded-sm placeholder:text-grey-200 placeholder:italic" type="text" placeholder="Movela..." required>
                    </div>
                    <div class="flex flex-col">
                        <span>Commentaire</span>
                        <input class="bg-little-btn p-1 rounded-sm placeholder:text-grey-200 placeholder:italic" type="text" placeholder="Votre commentaire..." required>
                    </div>
                    <button type="submit" class="bg-cta text-white mt-2 px-4 py-2 rounded hover:bg-cta-hover">Envoyer</button>
                </form>
            </div>
        </section>
    </main>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" defer></script>
    <script src="../controllers/js/nav.js"></script>
    <script src="../controllers/js/search.js"></script>
    <script src="/Movela/controllers/js/moviedetails.js" defer></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            initNavbar();
        });
    </script>
</body>
</html>