<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Movela/public/css/root.css">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <main>
        <section class="w-full flex">
            <figure>
                <!-- inserer ici l'image liée au film de l'api -->
                <img src="" alt="">
            </figure>
            <article>
                <!-- titre dinamique du film -->
                <h2></h2>
                <div>
                     <!-- catégories dynamiques du film -->
                 </div>
                 <div>
                    <!-- note dynamique du film -->
                 </div>
            </article>
        </section>
        <section>
            <article>
                <h3>Description</h3>
                <!-- description dynamique du film -->
                <p></p>
            </article>
            <article>
                <h3>Acteurs</h3>
                <!-- liste dynamique d'acteurs -->
                <p></p>
            </article>
        </section>
        <section>
            <div>
                <h3>Laissez un avis</h3>
                <form action="" method="POST">
                    <div>
                        <!-- ajout de notre au film -->
                    </div>
                    <input type="text">
                    <input type="text">
                </form>
            </div>
        </section>
    </main>
</body>
</html>