body {
    background-color: var(--bg-main);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.favoris-main {
    padding: 20px;
    text-align: center;
}

.favoris-main h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: var(--text-color);
}

#favoris-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.favoris-card {
    position: relative;
    width: 200px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    background-color: var(--bg-sec);
}

.favoris-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.favoris-card .card-info {
    padding: 10px;
    text-align: center;
}

.favoris-card .card-info h3 {
    font-size: 16px;
    margin: 10px 0;
    color: var(--text-color);
}

.favoris-card .rating {
    font-size: 14px;
    color: var(--cta-color);
}

.favoris-card .remove-favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 0, 0, 0.8);
    color: #fff;
    font-weight: bold;
    border: none;
    width: 70px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}