body{
    margin: 0;
    padding: 0;
}

.imgheropage{
    background: url(../assets/imgheropage.png) lightgray 50% / cover no-repeat;
box-shadow: 0px -102px 75.5px 0px #1A1623 inset, 481px 0px 113.9px 0px #1A1623 inset;
width: 100%;
height: 100vh;
}

.heropage_content{
    padding-top: 200px;
    width: 20%;
    padding-left: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: justify ;
}

.btn_heropage{
    display: flex;
    gap: 15px;
    padding: 20px;
    button{
        gap: 15px;
        padding: 20px;
    }
}


